html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#main-title {
    border: solid black 10px;
    width: 430px;
    margin: 80px auto;
    background-color: rgb(151, 19, 188);
    padding: 20px;
    color: yellow;
}

#my-first-div {
    display: inline-block;
width: 400px;
height: 300px;
margin: 100px 0;
background-color: rgb(30, 9, 213);
padding: 30px;
border: solid yellow 10px;
}

#shite {
    display: inline-block;
    width: 500px;
    height: 300px;
    margin: 0 30px;
    border: black solid 20px;
    padding: 30px;

}

.listspan {
    display: inline-block;
    border: solid black 2px;
    padding: 0 8px;
    width: 80px;
color: pink;
}

body {
    background-color: #1aa599;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 100px;
    color: rgb(220, 202, 202);
}

ul {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
}

h4 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);

}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

img {
    width: 600px;
    height: auto;

}

.description {
    color: black;
}

a {
    color: yellow;
}